:host {
  display: block;

  .control-bar {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    transition:
      0.4s visiblity,
      0.4s opacity,
      0.4s top;
  }
}
